.contact_title {
  font-size: 3.2rem;
  font-weight: 750;
  margin: 0.4rem auto;
  color: rgb(155, 72, 25);
  margin-top: 5rem;
  text-align: center;
  position: relative;
}

.contact_title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: rgb(155, 72, 25);
  border-radius: 2px;
}

.box {
  margin: 30px auto;
  width: 40vw;
}

.box input {
  width: 100%;
  height: 8vh;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
}

.textarea {
  margin: 0 auto;
  width: 40vw;
}

.textarea textarea {
  width: 100%;
  height: 15vh;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
}

.contact_button {
  text-align: center;
}

.contact_button button {
  background-color: rgb(155, 72, 25);
  font-size: 15px;
  width: 12vw;
  border-radius: 10px;
  color: white;
}

#submitrelated {
  font-size: 17px;
  color: rgb(155, 72, 25);
  font-weight: 650;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 10px 0;
  text-align: center;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
}

.footer_title p {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
}

.footer_description p {
  font-size: 12px;
  font-weight: 500;
}

.socialmediaicon {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socialmediaicon a {
  margin: 0 25px;
  font-size: 3rem;
  color: white;
}

.footer_bottom {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .box,
  .textarea {
      width: 65%; /* Increase form width */
  }

  .footer {
      width: 75%; /* Adjust footer width */
  }

  .socialmediaicon a {
      font-size: 2.5rem; /* Adjust icon size if needed */
      margin: 0 15px; /* Reduce spacing between icons */
  }
}
